@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Sofia Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
* ──────────────────────────────────────
* Tenant
* ──────────────────────────────────────
*/

.tenant {
    position: relative;
    display: block;
    width: 300px;
    height: 150px;
    margin-bottom: 25px;
    text-align: center;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
}

.tenant_name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f5f5f5;
}

.tenant_asset {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    translate: -45%;
    width: 80%;
    height: 30px;
}

.tenant_gold,
.tenant_red {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.tenant_img {
    width: 30px;
    margin-right: 10px;
}

.tenant_gold p,
.tenant_red p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #f5f5f5;
}

.tenant_warning {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    transform: translateY(5px);
}

/* 
* ──────────────────────────────────────
* Building
* ──────────────────────────────────────
*/

.building {
    position: relative;
    display: block;
    width: 400px;
    height: 250px;
    margin-bottom: 25px;
    text-align: center;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 0px 20px;
}

.building_title {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f5f5f5;
}

.building_desc {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.building_img {
    width: 50%;
}

.building_img img {
    height: 120px;
}

.building_img h4 {
    color: #f5f5f5;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.building_price {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #f5f5f5;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
}

.building_gold,
.building_red {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.building_gold p,
.building_red p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #f5f5f5;
}

.building_price h4 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

/* 
* ──────────────────────────────────────
* Rating
* ──────────────────────────────────────
*/

.rating {
    position: relative;
    display: block;
    width: 400px;
    height: 250px;
    margin-bottom: 25px;
    text-align: center;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 0px 20px;
}

.rating_title {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f5f5f5;
}

.rating_desc {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.rating_img {
    width: 50%;
}

.rating_img img {
    height: 120px;
}

.rating_img h4 {
    color: #f5f5f5;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.rating_price {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #f5f5f5;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
}

.rating_gold,
.rating_red {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.rating_gold p,
.rating_red p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #f5f5f5;
}

.rating_price h4 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

/* 
* ──────────────────────────────────────
* Mining
* ──────────────────────────────────────
*/

.mining {
    position: relative;
    display: block;
    width: 700px;
    height: 200px;
    margin-bottom: 25px;
    text-align: center;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 0px 20px;
}

.mining_desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.mining_img {
    width: 100%;
}

.mining_img img {
    height: 65px;
    margin-right: 10px;
}

.mining_img img:last-child {
    margin-right: 0px;
}

.mining_img h4 {
    color: #f5f5f5;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.mining_price {
    display: flex;
    flex-direction: row;
    width: 50%;
    color: #f5f5f5;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 50px;
}

.mining_gold,
.mining_red {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}