@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Sofia Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(37deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(34, 34, 34, 1) 95%);
}

/* 
* ──────────────────────────────────────
* Ownership (Above the cube)
* ──────────────────────────────────────
*/

.ownership {
  position: relative;
  display: block;
  width: 400px;
  height: 100px;
  margin-bottom: 120px;
  text-align: center;
}

.ownership_buy {
  position: relative;
  display: block;
  width: 300px;
  height: 100px;
  margin-bottom: 80px;
  text-align: center;
}

.ownership_land {
  margin-top: 15px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #f5f5f5;
}

.ownership_owner {
  margin-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #f5f5f5;
}

.ownership_price {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  translate: -45%;
  width: 80%;
  height: 30px;
}

.price_gold,
.price_red {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.price_gold img,
.price_red img {
  width: 30px;
  margin-right: 10px;
}

.price_gold p,
.price_red p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #f5f5f5;
}

/* 
* ──────────────────────────────────────
* Description & Buttons (Below the cube)
* ──────────────────────────────────────
*/

.description {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 180px;
  padding-top: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.description_block {
  width: 100px;
  border: 1px solid transparent;
}

.description h1 {
  margin-bottom: 2px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f5f5f5;
}

.description p {
  margin-bottom: 4px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #f5f5f5;
}

.description h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #f5f5f5;
}

.description_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description_img img {
  max-width: 60px;
}

/* Button */
.btn {
  position: relative;
  display: flex;
  cursor: pointer;
  color: #292929;
  width: 140px;
  height: 50px;
  margin: 0px 10px;
  padding: 0px 30px;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s ease-out;
}

.btn span {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px;
}

.btn:hover p {
  cursor: pointer;
  color: #fff;
}

/* Button Background */
.btn-effect {
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 1px #fff inset;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn-effect:hover {
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #292929 inset;
}

/* Highlight */
.btn-effect:after {
  background: #222;
  border: 0px solid #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.btn-effect:hover:after {
  background: rgb(0, 109, 226);
  border: 20px solid #fff;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

@media (max-width: 1080px) {
  .description {
    width: 1200px;
    height: 120px;
    margin-top: 30px;
    padding-top: 30px;
  }

  .description_block {
    width: 120px;
  }

  .description h1 {
    font-size: 24px;
    letter-spacing: -1px;
  }

  .description p {
    margin-bottom: 4px;
    font-size: 16px;
    color: #f5f5f5;
  }

  .description h4 {
    font-size: 26px;
    color: #f5f5f5;
  }
}

@media (max-width: 870px) {
  body {
    height: auto;
    padding-top: 50px;
  }

  .description {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: none;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: left;
  }

  .description_block {
    display: flex;
    flex-direction: row;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .description_name {
    width: 100%;
  }

  .description_count {
    text-align: right;
    width: 100%;
  }

  .description h1 {
    margin-bottom: 2px;
    font-size: 32px;
    letter-spacing: -2px;
  }

  .description p {
    margin-bottom: 4px;
    font-size: 18px;
  }

  .description h4 {
    font-size: 38px;
  }

  .description_img img {
    max-width: 100px;
  }
}

@media (max-width: 480px) {
  body {
    height: auto;
    padding-top: 40px;
  }

  .cube {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_uranos {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_thalassa {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_ieros {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_uranos_double {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_thalassa_double {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_ieros_double {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_uranos_triple {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_thalassa_triple {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .cube_ieros_triple {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }

  .ownership {
    height: 60px;
    margin-bottom: 50px;
  }

  .ownership_land {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
  }

  .ownership_owner {
    font-weight: 500;
    font-size: 16px;
  }

  .description_block {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }

  .description h1 {
    margin-bottom: 2px;
    font-size: 26px;
    letter-spacing: -2px;
  }

  .description p {
    margin-bottom: 4px;
    font-size: 16px;
  }

  .description h4 {
    font-size: 30px;
  }

  .description_img img {
    max-width: 80px;
  }

  .btn {
    width: 130px;
    height: 40px;
    margin: 0px 10px;
    padding: 0px 30px;
    border-radius: 10px;
  }

  .btn span {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
  }
}

/* 
* ──────────────────────────────────────
* Cube : For-sale
* ──────────────────────────────────────
*/

.cube_10,
.cube_9,
.cube_8,
.cube_7,
.cube_6,
.cube_5,
.cube_4,
.cube_3,
.cube_2,
.cube_1 {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  z-index: -9;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube_10 div,
.cube_9 div,
.cube_8 div,
.cube_7 div,
.cube_6 div,
.cube_5 div,
.cube_4 div,
.cube_3 div,
.cube_2 div,
.cube_1 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube_10 div span,
.cube_9 div span,
.cube_8 div span,
.cube_7 div span,
.cube_6 div span,
.cube_5 div span,
.cube_4 div span,
.cube_3 div span,
.cube_2 div span,
.cube_1 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  /* 300/2 = 150 */
}

.cube_10 div span {
  background: linear-gradient(#D5D5D5, #FFFFFF);
}

.cube_9 div span {
  background: linear-gradient(#C0C0C0, #FFFFFF);
}

.cube_8 div span {
  background: linear-gradient(#A5A5A5, #FFFFFF);
}

.cube_7 div span {
  background: linear-gradient(#909090, #FFFFFF);
}

.cube_6 div span {
  background: linear-gradient(#757575, #FFFFFF);
}

.cube_5 div span {
  background: linear-gradient(#606060, #FFFFFF);
}

.cube_4 div span {
  background: linear-gradient(#454545, #FFFFFF);
}

.cube_3 div span {
  background: linear-gradient(#303030, #FFFFFF);
}

.cube_2 div span {
  background: linear-gradient(#151515, #FFFFFF);
}

.cube_1 div span {
  background: linear-gradient(#000000, #FFFFFF);
}

.top_10,
.top_9,
.top_8,
.top_7,
.top_6,
.top_5,
.top_4,
.top_3,
.top_2,
.top_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  transform: rotateX(90deg) translateZ(99px);
}

.top_10 {
  background-color: #D5D5D5;
}

.top_9 {
  background-color: #C0C0C0;
}

.top_8 {
  background-color: #A5A5A5;
}

.top_7 {
  background-color: #909090;
}

.top_6 {
  background-color: #757575;
}

.top_5 {
  background-color: #606060;
}

.top_4 {
  background-color: #454545;
}

.top_3 {
  background-color: #303030;
}

.top_2 {
  background-color: #151515;
}

.top_1 {
  background-color: #000000;
}

.top_10::before,
.top_9::before,
.top_8::before,
.top_7::before,
.top_6::before,
.top_5::before,
.top_4::before,
.top_3::before,
.top_2::before,
.top_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #eee;
  transform: translateZ(-110px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(221, 221, 221, 0.2),
    0 0 200px rgba(221, 221, 221, 0.4), 0 0 300px rgba(221, 221, 221, 0.6);
}

/* 
* ──────────────────────────────────────
* Land : Uranos
* ──────────────────────────────────────
*/

.cube_uranos_10,
.cube_uranos_9,
.cube_uranos_8,
.cube_uranos_7,
.cube_uranos_6,
.cube_uranos_5,
.cube_uranos_4,
.cube_uranos_3,
.cube_uranos_2,
.cube_uranos_1 {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  z-index: -9;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

.cube_uranos_10 div,
.cube_uranos_9 div,
.cube_uranos_8 div,
.cube_uranos_7 div,
.cube_uranos_6 div,
.cube_uranos_5 div,
.cube_uranos_4 div,
.cube_uranos_3 div,
.cube_uranos_2 div,
.cube_uranos_1 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube_uranos_10 div span,
.cube_uranos_9 div span,
.cube_uranos_8 div span,
.cube_uranos_7 div span,
.cube_uranos_6 div span,
.cube_uranos_5 div span,
.cube_uranos_4 div span,
.cube_uranos_3 div span,
.cube_uranos_2 div span,
.cube_uranos_1 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  /* 300/2 = 150 */
}

.cube_uranos_10 div span {
  background: linear-gradient(#FFFAD9, #FFFFFF);
}

.cube_uranos_9 div span {
  background: linear-gradient(#FFEFAD, #FFFFFF);
}

.cube_uranos_8 div span {
  background: linear-gradient(#FFE05D, #FFFFFF);
}

.cube_uranos_7 div span {
  background: linear-gradient(#FFD934, #FFFFFF);
}

.cube_uranos_6 div span {
  background: linear-gradient(#FFCF00, #FFFFFF);
}

.cube_uranos_5 div span {
  background: linear-gradient(#FFB000, #FFFFFF);
}

.cube_uranos_4 div span {
  background: linear-gradient(#FFBA45, #FFFFFF);
}

.cube_uranos_3 div span {
  background: linear-gradient(#FF9900, #FFFFFF);
}

.cube_uranos_2 div span {
  background: linear-gradient(#FF6300, #FFFFFF);
}

.cube_uranos_1 div span {
  background: linear-gradient(#FF5400, #FFFFFF);
}

.top_uranos_10,
.top_uranos_9,
.top_uranos_8,
.top_uranos_7,
.top_uranos_6,
.top_uranos_5,
.top_uranos_4,
.top_uranos_3,
.top_uranos_2,
.top_uranos_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  transform: rotateX(90deg) translateZ(99px);
}

.top_uranos_10 {
  background-color: #FFFAD9;
}

.top_uranos_9 {
  background-color: #FFEFAD;
}

.top_uranos_8 {
  background-color: #FFE05D;
}

.top_uranos_7 {
  background-color: #FFD934;
}

.top_uranos_6 {
  background-color: #FFCF00;
}

.top_uranos_5 {
  background-color: #FFB000;
}

.top_uranos_4 {
  background-color: #FFBA45;
}

.top_uranos_3 {
  background-color: #FF9900;
}

.top_uranos_2 {
  background-color: #FF6300;
}

.top_uranos_1 {
  background-color: #FF5400;
}

.top_uranos_10::before,
.top_uranos_9::before,
.top_uranos_8::before,
.top_uranos_7::before,
.top_uranos_6::before,
.top_uranos_5::before,
.top_uranos_4::before,
.top_uranos_3::before,
.top_uranos_2::before,
.top_uranos_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #eee;
  transform: translateZ(-130px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(255, 242, 200, 0.2),
    0 0 200px rgba(255, 242, 200, 0.4), 0 0 300px rgba(255, 242, 200, 0.6);
}

/* 
* ──────────────────────────────────────
* Land : Thalassa
* ──────────────────────────────────────
*/

.cube_thalassa_10,
.cube_thalassa_9,
.cube_thalassa_8,
.cube_thalassa_7,
.cube_thalassa_6,
.cube_thalassa_5,
.cube_thalassa_4,
.cube_thalassa_3,
.cube_thalassa_2,
.cube_thalassa_1 {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  z-index: -9;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

.cube_thalassa_10 div,
.cube_thalassa_9 div,
.cube_thalassa_8 div,
.cube_thalassa_7 div,
.cube_thalassa_6 div,
.cube_thalassa_5 div,
.cube_thalassa_4 div,
.cube_thalassa_3 div,
.cube_thalassa_2 div,
.cube_thalassa_1 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube_thalassa_10 div span,
.cube_thalassa_9 div span,
.cube_thalassa_8 div span,
.cube_thalassa_7 div span,
.cube_thalassa_6 div span,
.cube_thalassa_5 div span,
.cube_thalassa_4 div span,
.cube_thalassa_3 div span,
.cube_thalassa_2 div span,
.cube_thalassa_1 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  /* 300/2 = 150 */
}

.cube_thalassa_10 div span {
  background: linear-gradient(#CFF2FF, #FFFFFF);
}

.cube_thalassa_9 div span {
  background: linear-gradient(#9AE4FF, #FFFFFF);
}

.cube_thalassa_8 div span {
  background: linear-gradient(#45CDFF, #FFFFFF);
}

.cube_thalassa_7 div span {
  background: linear-gradient(#14C0FF, #FFFFFF);
}

.cube_thalassa_6 div span {
  background: linear-gradient(#28B8FF, #FFFFFF);
}

.cube_thalassa_5 div span {
  background: linear-gradient(#19B2FF, #FFFFFF);
}

.cube_thalassa_4 div span {
  background: linear-gradient(#198AFF, #FFFFFF);
}

.cube_thalassa_3 div span {
  background: linear-gradient(#2C7AFF, #FFFFFF);
}

.cube_thalassa_2 div span {
  background: linear-gradient(#1642FF, #FFFFFF);
}

.cube_thalassa_1 div span {
  background: linear-gradient(#0A14FF, #FFFFFF);
}

.top_thalassa_10,
.top_thalassa_9,
.top_thalassa_8,
.top_thalassa_7,
.top_thalassa_6,
.top_thalassa_5,
.top_thalassa_4,
.top_thalassa_3,
.top_thalassa_2,
.top_thalassa_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  transform: rotateX(90deg) translateZ(99px);
}

.top_thalassa_10 {
  background-color: #CFF2FF;
}

.top_thalassa_9 {
  background-color: #9AE4FF;
}

.top_thalassa_8 {
  background-color: #45CDFF;
}

.top_thalassa_7 {
  background-color: #14C0FF;
}

.top_thalassa_6 {
  background-color: #28B8FF;
}

.top_thalassa_5 {
  background-color: #19B2FF;
}

.top_thalassa_4 {
  background-color: #198AFF;
}

.top_thalassa_3 {
  background-color: #2C7AFF;
}

.top_thalassa_2 {
  background-color: #1642FF;
}

.top_thalassa_1 {
  background-color: #0A14FF;
}

.top_thalassa_10::before,
.top_thalassa_9::before,
.top_thalassa_8::before,
.top_thalassa_7::before,
.top_thalassa_6::before,
.top_thalassa_5::before,
.top_thalassa_4::before,
.top_thalassa_3::before,
.top_thalassa_2::before,
.top_thalassa_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #eee;
  transform: translateZ(-130px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(255, 242, 200, 0.2),
    0 0 200px rgba(255, 242, 200, 0.4), 0 0 300px rgba(255, 242, 200, 0.6);
}

/* 
* ──────────────────────────────────────
* Land : Ieros
* ──────────────────────────────────────
*/

.cube_ieros_10,
.cube_ieros_9,
.cube_ieros_8,
.cube_ieros_7,
.cube_ieros_6,
.cube_ieros_5,
.cube_ieros_4,
.cube_ieros_3,
.cube_ieros_2,
.cube_ieros_1 {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  z-index: -9;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

.cube_ieros_10 div,
.cube_ieros_9 div,
.cube_ieros_8 div,
.cube_ieros_7 div,
.cube_ieros_6 div,
.cube_ieros_5 div,
.cube_ieros_4 div,
.cube_ieros_3 div,
.cube_ieros_2 div,
.cube_ieros_1 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube_ieros_10 div span,
.cube_ieros_9 div span,
.cube_ieros_8 div span,
.cube_ieros_7 div span,
.cube_ieros_6 div span,
.cube_ieros_5 div span,
.cube_ieros_4 div span,
.cube_ieros_3 div span,
.cube_ieros_2 div span,
.cube_ieros_1 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  /* 300/2 = 150 */
}

.cube_ieros_10 div span {
  background: linear-gradient(#E4CFFF, #FFFFFF);
}

.cube_ieros_9 div span {
  background: linear-gradient(#D3B1FF, #FFFFFF);
}

.cube_ieros_8 div span {
  background: linear-gradient(#BA85FF, #FFFFFF);
}

.cube_ieros_7 div span {
  background: linear-gradient(#A25BFF, #FFFFFF);
}

.cube_ieros_6 div span {
  background: linear-gradient(#8F39FF, #FFFFFF);
}

.cube_ieros_5 div span {
  background: linear-gradient(#A81DFF, #FFFFFF);
}

.cube_ieros_4 div span {
  background: linear-gradient(#9D00FF, #FFFFFF);
}

.cube_ieros_3 div span {
  background: linear-gradient(#BB00FF, #FFFFFF);
}

.cube_ieros_2 div span {
  background: linear-gradient(#FB00FF, #FFFFFF);
}

.cube_ieros_1 div span {
  background: linear-gradient(#F800C6, #FFFFFF);
}

.top_ieros_10,
.top_ieros_9,
.top_ieros_8,
.top_ieros_7,
.top_ieros_6,
.top_ieros_5,
.top_ieros_4,
.top_ieros_3,
.top_ieros_2,
.top_ieros_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  transform: rotateX(90deg) translateZ(99px);
}

.top_ieros_10 {
  background-color: #E4CFFF;
}

.top_ieros_9 {
  background-color: #D3B1FF;
}

.top_ieros_8 {
  background-color: #BA85FF;
}

.top_ieros_7 {
  background-color: #A25BFF;
}

.top_ieros_6 {
  background-color: #8F39FF;
}

.top_ieros_5 {
  background-color: #A81DFF;
}

.top_ieros_4 {
  background-color: #9D00FF;
}

.top_ieros_3 {
  background-color: #BB00FF;
}

.top_ieros_2 {
  background-color: #FB00FF;
}

.top_ieros_1 {
  background-color: #F800C6;
}

.top_ieros_10::before,
.top_ieros_9::before,
.top_ieros_8::before,
.top_ieros_7::before,
.top_ieros_6::before,
.top_ieros_5::before,
.top_ieros_4::before,
.top_ieros_3::before,
.top_ieros_2::before,
.top_ieros_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #eee;
  transform: translateZ(-130px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(255, 242, 200, 0.2),
    0 0 200px rgba(255, 242, 200, 0.4), 0 0 300px rgba(255, 242, 200, 0.6);
}