/*
 * ------------------------------
 * intro
 * ------------------------------
 */
.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.intro video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.intro__title {
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 340px;
  height: 80%;
  border: none;
  align-content: center;
}

.intro__title2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 340px;
  height: 80%;
  backdrop-filter: blur(5px);
  border: 3px solid #fff;
  border-radius: 20px;
  align-content: center;
}

.intro__wrapper {
  position: inherit;
  background-color: transparent;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__title img {
  background-color: transparent;
  width: 100px;
}

.intro__title p {
  background-color: transparent;
  margin-top: 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.intro__title2 img {
  background-color: transparent;
  width: 100px;
}

.intro__title2 p {
  background-color: transparent;
  margin-top: 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.intro__buttons {
  width: 100%;
  height: 260px;
  overflow-y: scroll;
  background-color: transparent;
  padding: 0px 20px;
  margin-top: 1em;
  text-transform: none;
}

.intro__buttons button {
  margin: 8px 0px;
}

.btnHome__wrapper {
  background-color: transparent;
  margin-top: 2em;
  padding: 0px 60px;
}

#btnHome {
  top: 50%;
  width: 100%;
  margin-top: 1em;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 0px;
}

/*
* ─────────────────────────
* intro Button (Not introed)
* ─────────────────────────
*/
.intro__btn {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  color: #292929;
  height: 50px;
  line-height: 10px;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.2s ease-out;
}

.intro__btn span {
  position: absolute;
  width: 15%;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.intro__btn p {
  position: absolute;
  width: auto;
  color: #292929;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__btn:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.intro__btn:hover p {
  cursor: pointer;
  color: #fff;
}

/* btn_background */
.intro__btn-effect {
  color: #292929;
  border: 3px solid #292929;
  box-shadow: 0px 0px 0px 1px #fff inset;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.intro__btn-effect:hover {
  border: 3px solid #292929;
  background-color: #292929;
  box-shadow: 0px 0px 0px 2px #292929 inset;
}

/* highlight */
.intro__btn-effect:after {
  background: #222;
  border: 0px solid #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.intro__btn-effect:hover:after {
  background: rgb(0, 109, 226);
  border: 20px solid #fff;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/*
* ─────────────────────────
* intro Button (introed)
* ─────────────────────────
*/
.intro__btn2 {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  color: #292929;
  height: 50px;
  line-height: 10px;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.2s ease-out;
}

.intro__btn2 span {
  position: absolute;
  width: 15%;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.intro__btn2 p {
  position: absolute;
  width: auto;
  color: #fff;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__btn2:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.intro__btn2:hover p {
  cursor: pointer;
  color: #fff;
}

/* btn_background */
.intro__btn2-effect {
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 1px #fff inset;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.intro__btn2-effect:hover {
  border: 3px solid #fff;
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #292929 inset;
}

/* highlight */
.intro__btn2-effect:after {
  background: #222;
  border: 0px solid #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.intro__btn2-effect:hover:after {
  background: rgb(0, 109, 226);
  border: 20px solid #fff;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.skip {
  background-color: transparent;
  text-align: center;
}

.skip button {
  width: 20%;
  margin: auto;
  text-align: center;
}

.skip button > i {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transform: translateY(30%);
}

.skip button:hover > i {
  color: #fff;
  cursor: pointer;
}

/*
 * ------------------------------
 * Responsive
 * ------------------------------
 */
@media (max-width: 1024px) {
}

@media (max-width: 855px) {
}

@media (max-width: 720px) {
}

/*
 * ------------------------------
 * story_login.php
 * ------------------------------
 */
