html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/*
* ──────────────────────────────
* Navbar (데스크탑, 노트북)
* ──────────────────────────────
*/
.navbar {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100vh - 40px);
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 99;
  flex-direction: column;
  border: 2px solid #fafafa;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.logo {
  text-align: center;
  position: relative;
  border-radius: 0px;
  cursor: pointer;
  width: 160px;
  height: 80px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.4s;
}

.logo h1 {
  background-color: transparent;
  margin-top: 20px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.navbar ul {
  display: block;
  background-color: transparent;
  width: 220px;
  position: relative;
  transform: translateX(0px);
  transition: 0.6s;
}

.navbar ul li {
  background-color: transparent;
  padding: 15px 0px;
  margin-bottom: 40px;
  border: solid 2px transparent;
  border-radius: 30px;
  position: relative;
  list-style: none;
  margin-left: 20px;
  width: 100%;
  transition: all 0.2s;
}

.navbar ul li::before {
  border: 2px solid transparent;
  transition: all 0.2s;
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateX(10px);
}

.navbar ul li:hover::before {
  content: "";
  border: 2px solid #fff;
}

.navbar ul li a {
  background-color: transparent;
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-left: 20px;
  transition: 0.3s;
}

.navbar ul li:hover a {
  cursor: pointer;
  color: whitesmoke;
}

.sns {
  display: absolute;
  flex-direction: row;
  height: 50px;
  width: 100%;
  left: 50%;
  padding-top: 60px;
  text-align: center;
  background-color: transparent;
}

.snsLink {
  text-decoration: none;
  width: auto;
  height: auto;
  margin: 0px 14px;
}

.snsLink img {
  margin-top: 10px;
  width: 20px;
  height: auto;
  transition: all 0.3s;
}

.snsLink img:hover {
  transform: translateY(-6px);
}

.signin-wrapper {
  width: 100%;
  height: 140px;
  text-align: center;
}

.signin {
  display: block;
  background-color: transparent;
  color: whitesmoke;
  font-weight: 700;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  border: solid 2px whitesmoke;
  transition: all 0.5s;
}

.signin:hover {
  color: #202020;
  background-color: whitesmoke;
  border: none;
  border-radius: 30px;
  border: solid 2px whitesmoke;
  cursor: pointer;
}

.signin:active {
  border: solid 2px whitesmoke;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  animation: none;
  color: whitesmoke;
  transition: all 0.3s;
}

.signin-wrapper p {
  display: block;
  background-color: transparent;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: -1px;
}

.menu {
  display: none;
}

/*
* ──────────────────────────────
* Navbar (모바일 & 태플릿)
* ──────────────────────────────
*/

@media (max-width: 1024px) {
  .navbar {
    position: fixed;
    left: 20px;
    top: -100px;
    transform: none;
    background-color: transparent;
    height: 80px;
    width: calc(100% - 40px);
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    z-index: 99;
    flex-direction: row;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
  }

  .show {
    top: 20px;
  }

  .logo {
    text-align: center;
    position: relative;
    border-radius: 0px;
    cursor: pointer;
    width: 180px;
    height: 80px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.4s;
  }

  .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    background-color: transparent;
    cursor: pointer;
  }

  .navbar ul {
    display: none;
  }

  .sns {
    display: none;
  }

  .signin-wrapper {
    display: none;
  }

  .menu {
    display: block;
    width: 60px;
    cursor: pointer;
  }

  .menu img {
    width: 20px;
  }
}

@media (max-width: 720px) {
  .navbar {
    position: fixed;
    left: 10px;
    top: -80px;
    transform: none;
    background-color: transparent;
    height: 60px;
    width: calc(100% - 20px);
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 99;
    flex-direction: row;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
  }

  .show {
    top: 10px;
  }

  .logo {
    text-align: center;
    position: relative;
    border-radius: 0px;
    cursor: pointer;
    width: 160px;
    height: 80px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.4s;
  }

  .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    background-color: transparent;
    cursor: pointer;
  }

  .menu {
    display: block;
    width: 50px;
  }

  .menu img {
    width: 16px;
  }
}

/*
* ───────────────────────────────────
* 모바일 메뉴 (Overlay)
* ───────────────────────────────────
*/

.overlay {
  display: none;
}

@media (max-width: 1024px) {
  .overlay {
    display: block;
    display: absolute;
    top: 50%;
    left: 200%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    border: 3px solid #202020;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: fixed;
    z-index: 999;
    text-align: left;
    overflow: hidden;
    transition: all 0.6s ease 0s;
  }

  .active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay__close {
    position: absolute;
    background-color: transparent;
    z-index: 10;
    margin-top: 20px;
    right: 60px;
    font-size: 40px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s;
  }

  .overlay__close:hover {
    color: #888;
    cursor: pointer;
    transform: scale(1.2);
  }

  .overlay__close:active {
    color: #202020;
    cursor: pointer;
    transform: scale(1);
  }

  .overlay__logo {
    position: relative;
    display: block;
    text-decoration: none;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
  }

  .overlay__logo img {
    width: 240px;
  }

  .overlay__content {
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: transparent;
  }

  .overlay__nav {
    background-color: transparent;
    width: 100%;
    padding: 0px 30px;
  }

  .overlay__nav-list {
    background-color: transparent;
    list-style: none;
    border: whitesmoke 3px solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    transition: all 0.3s;
  }

  .overlay__nav-list:hover {
    background-color: whitesmoke;
    border: whitesmoke 3px solid;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .overlay__nav-list:active {
    background-color: transparent;
    border: whitesmoke 3px solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .navLink {
    background-color: transparent;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: -0.5px;
    font-size: 15px;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: block;
    cursor: pointer;
    transition: all 0.3s;
  }

  .overlay__nav-list:hover .navLink {
    color: #202020;
  }

  .overlay__nav-list:active .navLink {
    transform: scale(1.1);
    cursor: pointer;
    color: whitesmoke;
  }

  .overlay__sns {
    display: absolute;
    flex-direction: row;
    height: 50px;
    width: 100%;
    left: 50%;
    text-align: center;
    background-color: transparent;
  }

  .overlay__snsLink {
    text-decoration: none;
    width: auto;
    height: auto;
    margin: 0px 20px;
  }

  .overlay__snsLink img {
    margin-top: 10px;
    width: 30px;
    height: auto;
    transition: all 0.3s;
  }

  .overlay__snsLink img:hover {
    transform: translateY(-8px);
  }
}

@media (max-width: 720px) {
  .overlay {
    padding-top: 60px;
  }

  .overlay__close {
    margin-top: 10px;
    font-size: 35px;
  }

  .overlay__logo {
    margin-top: 15px;
    margin-left: 30px;
  }

  .overlay__logo img {
    width: 220px;
  }

  .overlay__content {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .overlay__nav-list {
    background-color: transparent;
    list-style: none;
    border: whitesmoke 3px solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    transition: all 0.3s;
  }

  .navLink {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}