@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(37deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(34, 34, 34, 1) 95%); */
}

/* 
* ──────────────────────────────────────
* Buttons
* ──────────────────────────────────────
*/

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Button */
.btn {
    position: relative;
    display: flex;
    cursor: pointer;
    color: #292929;
    width: 140px;
    height: 50px;
    margin: 0px 10px;
    padding: 0px 30px;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    transition: all 0.3s ease-out;
}

.btn span {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
}

.btn:hover p {
    cursor: pointer;
    color: #fff;
}

/* Button Background */
.btn-effect {
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #fff inset;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-effect:hover {
    border: 2px solid #fff;
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #292929 inset;
}

/* Highlight */
.btn-effect:after {
    background: #222;
    border: 0px solid #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-effect:hover:after {
    background: rgb(0, 109, 226);
    border: 20px solid #fff;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

/* 
* ──────────────────────────────────────
* Build
* ──────────────────────────────────────
*/

.build_process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    padding: 0px 200px;
}

.build_ok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    padding: 0px 200px;
}

.build_process h1,
.build_ok h1 {
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
}

.build_process p,
.build_ok p {
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
}

.bar_wrapper_uranos {
    margin-top: 70px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 8px #ffe365;
    border-radius: 50px;
}

#barUranos {
    height: 3px;
    width: 1%;
    display: block;
    box-shadow: 0px 0px 20px 3px #ffe365;
    background-color: #ffe365;
    border-radius: 50px;
}

.bar_wrapper_thalassa {
    margin-top: 70px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 8px #47c2ff;
    border-radius: 50px;
}

#barThalassa {
    height: 3px;
    width: 1%;
    display: block;
    box-shadow: 0px 0px 20px 3px #47c2ff;
    background-color: #47c2ff;
    border-radius: 50px;
}

.bar_wrapper_ieros {
    margin-top: 70px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 8px #af5eff;
    border-radius: 50px;
}

#barIeros {
    height: 3px;
    width: 1%;
    display: block;
    box-shadow: 0px 0px 20px 3px #af5eff;
    background-color: #af5eff;
    border-radius: 50px;
}

.btnBuild {
    margin-top: 70px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: transparent;
    border-radius: 0px;
    transition: all 0.1s;
}

.btnBuild:hover {
    border-radius: 20px;
}

.btnBuild:active {
    box-shadow: 0px 0px 30px 10px whitesmoke;
}

/* 
* ──────────────────────────────────────
* Rate
* ──────────────────────────────────────
*/

.rate_process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    padding: 0px 200px;
}

.rate_process h1 {
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
}

.rate_process p {
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.rate_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 25px;
    border-radius: 10px;
    background: transparent;
}

.cards_lv1,
.cards_lv2,
.cards_lv3,
.cards_lv4,
.cards_lv5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards_lv1,
.cards_lv2,
.cards_lv3,
.cards_lv4,
.cards_lv5,
.card_lv1,
.card_lv2,
.card_lv3,
.card_lv4,
.card_lv5,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_lv1,
.cards_lv2,
.cards_lv3,
.cards_lv4,
.cards_lv5 {
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards_lv1 {
    /* 2 X 2 */
    width: 200px;
    height: 200px;
}

.cards_lv2 {
    /* 3 X 4 */
    width: 300px;
    height: 400px;
}

.cards_lv3 {
    /* 3 X 6 */
    width: 300px;
    height: 600px;
}

.cards_lv4 {
    /* 4 X 6 */
    width: 400px;
    height: 600px;
}

.cards_lv5 {
    /* 5 X 6 */
    width: 500px;
    height: 600px;
}

.card_lv1,
.card_lv2,
.card_lv3,
.card_lv4,
.card_lv5 {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card_lv1 {
    /* 2 X 2 */
    width: calc(100% / 2 - 10px);
    height: calc(100% / 2 - 10px);
}

.card_lv2 {
    /* 3 X 4 */
    width: calc(100% / 3 - 10px);
    height: calc(100% / 4 - 10px);
}

.card_lv3 {
    /* 3 X 6 */
    width: calc(100% / 3 - 10px);
    height: calc(100% / 6 - 10px);
}

.card_lv4 {
    /* 4 X 6 */
    width: calc(100% / 4 - 10px);
    height: calc(100% / 6 - 10px);
}

.card_lv5 {
    /* 5 X 6 */
    width: calc(100% / 5 - 10px);
    height: calc(100% / 6 - 10px);
}

.card_lv1.shake,
.card_lv2.shake,
.card_lv3.shake,
.card_lv4.shake,
.card_lv5.shake {
    animation: shake 0.25s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
}

.front-view img {
    width: 18px;
}

.back-view img {
    max-width: 55px;
}

.back-view {
    transform: rotateY(-180deg);
}

.card_lv1.flip .back-view,
.card_lv2.flip .back-view,
.card_lv3.flip .back-view,
.card_lv4.flip .back-view,
.card_lv5.flip .back-view {
    transform: rotateY(0);
}

.card_lv1.flip .front-view,
.card_lv2.flip .front-view,
.card_lv3.flip .front-view,
.card_lv4.flip .front-view,
.card_lv5.flip .front-view {
    transform: rotateY(180deg);
}

/* 
* ──────────────────────────────────────
* Mine
* ──────────────────────────────────────
*/

.mining_container {
    position: absolute;
    display: flex;
    width: 600px;
    padding: 50px 0;
    border: 3px solid #fff;
    border-radius: 20px;
    padding-top: 70px;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
}

.mining_progress {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: conic-gradient(white 3.6deg, #000000 0deg);
    box-shadow: 0px 0px 30px 5px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mining_progress::before {
    content: "";
    position: absolute;
    height: 345px;
    width: 345px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0px 0px 20px 5px white inset;
}

.mining_sign {
    position: relative;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    filter: none;
}

.mining_container h1 {
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
}

.mining_container p {
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
}