@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  animation-fill-mode: both;
  animation-duration: 1s;
}

.show__1 {
  animation-name: fadeIn;
  animation-delay: 1s;
}

.show__2 {
  animation-name: fadeIn;
  animation-delay: 2s;
}

.show__3 {
  animation-name: fadeIn;
  animation-delay: 3s;
}

.show__4 {
  animation-name: fadeIn;
  animation-delay: 4s;
}

.show__5 {
  animation-name: fadeIn;
  animation-delay: 5s;
}

.show__6 {
  animation-name: fadeIn;
  animation-delay: 6s;
}

.show__7 {
  animation-name: fadeIn;
  animation-delay: 7s;
}

.show__8 {
  animation-name: fadeIn;
  animation-delay: 8s;
}

.show__9 {
  animation-name: fadeIn;
  animation-delay: 9s;
}

.show__10 {
  animation-name: fadeIn;
  animation-delay: 10s;
}

.overlay {
  display: none;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}
