@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.tycoon-container-desktop {
  display: block;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.tycoon-container-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .tycoon-container-desktop {
    display: none;
  }
}

.tycoon-container-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .tycoon-container-mobile {
    display: block;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}

/* Modal Design */
.tycoon-modal {
  padding: 40px 20px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.tycoon-row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
}

/* Hover Animation */
@keyframes hoverLand {
  0% {
    transform: translateY(-6px);
  }

  50% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(-6px);
  }
}

@keyframes hoverLand-Mobile {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

.land_wrapper {
  display: flex;
  text-align: initial;
  margin: -6px -2px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    height: auto;
    padding-bottom: 60px;
  }

  .land_wrapper {
    width: 80px;
    height: 80px;
    margin: -6px -2px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    height: 100vh;
    padding-top: 30px;
  }

  .land_wrapper {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 440px) {
  .container {
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .tycoon-container-mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin-top: 0px;
  }

  .land_wrapper {
    width: 55px;
    height: 55px;
  }
}

.land_ownership {
  display: none;
  transition: all 0.4s;
}

/* Hover Animation */
@keyframes hoverLand {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

@keyframes hoverLand-Mobile {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

/* 
* ──────────────────────────────────────
* LAND FOR SALE
* ──────────────────────────────────────
*/

.land_blank {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #fafafa, #ccc);
  /* opacity: 0.9; */
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank:before,
.land_blank:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_blank:before {
  transform: rotateZ(60deg);
}

.land_blank:after {
  transform: rotateZ(-60deg);
}

.land_blank:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_blank:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_blank:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_blank:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_blank:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* 
* ──────────────────────────────────────
* URANOS
* ──────────────────────────────────────
*/

/* ─────────────────── Uranos Normal */

.land_uranos {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #fff4b4, #eca100);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos:before,
.land_uranos:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_uranos:before {
  transform: rotateZ(60deg);
}

.land_uranos:after {
  transform: rotateZ(-60deg);
}

.land_uranos:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_uranos:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_uranos:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* ─────────────────── Uranos Double */

.land_uranos_double {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #ffdca1, #ff8418);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_double:before,
.land_uranos_double:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_uranos_double:before {
  transform: rotateZ(60deg);
}

.land_uranos_double:after {
  transform: rotateZ(-60deg);
}

.land_uranos_double:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_uranos_double:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_uranos_double:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos_double:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos_double:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* ─────────────────── Uranos Triple */

.land_uranos_triple {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #ffb4a1, #ff4621);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_triple:before,
.land_uranos_triple:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_uranos_triple:before {
  transform: rotateZ(60deg);
}

.land_uranos_triple:after {
  transform: rotateZ(-60deg);
}

.land_uranos_triple:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_uranos_triple:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_uranos_triple:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos_triple:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos_triple:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* 
* ──────────────────────────────────────
* THALASSA
* ──────────────────────────────────────
*/

/* ─────────────────── Thalassa Normal */

.land_thalassa {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #b4ecff, #07ade5);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa:before,
.land_thalassa:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_thalassa:before {
  transform: rotateZ(60deg);
}

.land_thalassa:after {
  transform: rotateZ(-60deg);
}

.land_thalassa:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_thalassa:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_thalassa:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* ─────────────────── Thalassa Double */

.land_thalassa_double {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #b5d9ff, #0068d6);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_double:before,
.land_thalassa_double:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_thalassa_double:before {
  transform: rotateZ(60deg);
}

.land_thalassa_double:after {
  transform: rotateZ(-60deg);
}

.land_thalassa_double:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_thalassa_double:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_thalassa_double:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa_double:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa_double:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* ─────────────────── Thalassa Triple */

.land_thalassa_triple {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #b2bcff, #0928ee);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_triple:before,
.land_thalassa_triple:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_thalassa_triple:before {
  transform: rotateZ(60deg);
}

.land_thalassa_triple:after {
  transform: rotateZ(-60deg);
}

.land_thalassa_triple:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_thalassa_triple:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_thalassa_triple:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa_triple:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa_triple:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* 
* ──────────────────────────────────────
* IEROS
* ──────────────────────────────────────
*/

/* ─────────────────── Ieros Normal */

.land_ieros {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #dcc2ff, #700fef);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros:before,
.land_ieros:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_ieros:before {
  transform: rotateZ(60deg);
}

.land_ieros:after {
  transform: rotateZ(-60deg);
}

.land_ieros:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_ieros:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_ieros:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  transform: translateX(12%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* ─────────────────── Ieros Double */

.land_ieros_double {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #f4cdff, #ac00db);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_double:before,
.land_ieros_double:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_ieros_double:before {
  transform: rotateZ(60deg);
}

.land_ieros_double:after {
  transform: rotateZ(-60deg);
}

.land_ieros_double:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_ieros_double:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_ieros_double:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros_double:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros_double:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  transform: translateX(12%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* ─────────────────── Ieros Triple */

.land_ieros_triple {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #ffc4f6, #f50cd2);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_triple:before,
.land_ieros_triple:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_ieros_triple:before {
  transform: rotateZ(60deg);
}

.land_ieros_triple:after {
  transform: rotateZ(-60deg);
}

.land_ieros_triple:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1.4s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .land_ieros_triple:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_ieros_triple:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros_triple:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros_triple:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  transform: translateX(12%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}