@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(37deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(34, 34, 34, 1) 95%);
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.tycoon-container-desktop {
  display: block;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.tycoon-container-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .tycoon-container-desktop {
    display: none;
  }

  .tycoon-container-mobile {
    display: block;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

/* Modal Design */
.tycoon-modal {
  padding: 40px 20px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.tycoon-row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
}

/* Hover Animation */
@keyframes hoverLand {
  0% {
    transform: translateY(-6px);
  }

  50% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(-6px);
  }
}

@keyframes hoverLand-Mobile {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

.land_wrapper {
  display: flex;
  text-align: initial;
  margin: -6px -2px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    height: auto;
    padding-bottom: 60px;
  }

  .land_wrapper {
    width: 80px;
    height: 80px;
    margin: -6px -2px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    height: 100vh;
    padding-top: 30px;
  }

  .land_wrapper {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 440px) {
  .container {
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .tycoon-container-mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin-top: 0px;
  }

  .land_wrapper {
    width: 55px;
    height: 55px;
  }
}

.land_ownership {
  display: none;
  transition: all 0.4s;
}

/* Hover Animation */
@keyframes hoverLand {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

@keyframes hoverLand-Mobile {
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

/* 
* ──────────────────────────────────────
* LAND FOR SALE
* ──────────────────────────────────────
*/

/* ─────────────────── Colors for each grade */

.land_blank_10 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #ffffff, #d5d5d5);
  /* opacity: 0.9; */
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_9 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #ffffff, #c0c0c0);
  /* opacity: 0.9; */
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_8 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #d5d5d5, #a5a5a5);
  /* opacity: 0.9; */
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_7 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #c0c0c0, #909090);
  /* opacity: 0.9; */
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_6 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #a5a5a5, #757575);
  /* opacity: 0.9; */
  border: 1px solid rgba(250, 250, 250, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_5 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #909090, #606060);
  /* opacity: 0.9; */
  border: 1px solid rgba(225, 225, 225, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_4 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #757575, #454545);
  /* opacity: 0.9; */
  border: 1px solid rgba(200, 200, 200, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_3 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #606060, #303030);
  /* opacity: 0.9; */
  border: 1px solid rgba(175, 175, 175, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_2 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #454545, #151515);
  /* opacity: 0.9; */
  border: 1px solid rgba(150, 150, 150, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_1 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #303030, #000000);
  /* opacity: 0.9; */
  border: 1px solid rgba(125, 125, 125, 0.7);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_blank_10:before,
.land_blank_10:after,
.land_blank_9:before,
.land_blank_9:after,
.land_blank_8:before,
.land_blank_8:after,
.land_blank_7:before,
.land_blank_7:after,
.land_blank_6:before,
.land_blank_6:after,
.land_blank_5:before,
.land_blank_5:after,
.land_blank_4:before,
.land_blank_4:after,
.land_blank_3:before,
.land_blank_3:after,
.land_blank_2:before,
.land_blank_2:after,
.land_blank_1:before,
.land_blank_1:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_blank_10:before,
.land_blank_9:before,
.land_blank_8:before,
.land_blank_7:before,
.land_blank_6:before,
.land_blank_5:before,
.land_blank_4:before,
.land_blank_3:before,
.land_blank_2:before,
.land_blank_1:before {
  transform: rotateZ(60deg);
}

.land_blank_10:after,
.land_blank_9:after,
.land_blank_8:after,
.land_blank_7:after,
.land_blank_6:after,
.land_blank_5:after,
.land_blank_4:after,
.land_blank_3:after,
.land_blank_2:after,
.land_blank_1:after {
  transform: rotateZ(-60deg);
}

.land_blank_10:hover,
.land_blank_9:hover,
.land_blank_8:hover,
.land_blank_7:hover,
.land_blank_6:hover,
.land_blank_5:hover,
.land_blank_4:hover,
.land_blank_3:hover,
.land_blank_2:hover,
.land_blank_1:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {

  .land_blank_10:hover,
  .land_blank_9:hover,
  .land_blank_8:hover,
  .land_blank_7:hover,
  .land_blank_6:hover,
  .land_blank_5:hover,
  .land_blank_4:hover,
  .land_blank_3:hover,
  .land_blank_2:hover,
  .land_blank_1:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_blank_10:hover:before,
.land_blank_9:hover:before,
.land_blank_8:hover:before,
.land_blank_7:hover:before,
.land_blank_6:hover:before,
.land_blank_5:hover:before,
.land_blank_4:hover:before,
.land_blank_3:hover:before,
.land_blank_2:hover:before,
.land_blank_1:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_blank_10:hover:after,
.land_blank_9:hover:after,
.land_blank_8:hover:after,
.land_blank_7:hover:after,
.land_blank_6:hover:after,
.land_blank_5:hover:after,
.land_blank_4:hover:after,
.land_blank_3:hover:after,
.land_blank_2:hover:after,
.land_blank_1:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_blank_10:hover .land_ownership,
.land_blank_9:hover .land_ownership,
.land_blank_8:hover .land_ownership,
.land_blank_7:hover .land_ownership,
.land_blank_6:hover .land_ownership,
.land_blank_5:hover .land_ownership,
.land_blank_4:hover .land_ownership,
.land_blank_3:hover .land_ownership,
.land_blank_2:hover .land_ownership,
.land_blank_1:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* 
* ──────────────────────────────────────
* URANOS
* ──────────────────────────────────────
*/

/* ─────────────────── Colors for each grade */

.land_uranos_10 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFFFF, #FFFAD9);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_9 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFFFF, #FFEFAD);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_8 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFAD9, #FFE05D);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_7 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFAD9, #FFD934);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_6 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFEFAD, #FFCF00);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_5 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFAD9, #FFB000);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_4 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFE6AE, #FFBA45);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_3 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFE6AE, #FF9900);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_2 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFE1BA, #FF6300);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_1 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFBC91, #FF5400);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_uranos_10:before,
.land_uranos_10:after,
.land_uranos_9:before,
.land_uranos_9:after,
.land_uranos_8:before,
.land_uranos_8:after,
.land_uranos_7:before,
.land_uranos_7:after,
.land_uranos_6:before,
.land_uranos_6:after,
.land_uranos_5:before,
.land_uranos_5:after,
.land_uranos_4:before,
.land_uranos_4:after,
.land_uranos_3:before,
.land_uranos_3:after,
.land_uranos_2:before,
.land_uranos_2:after,
.land_uranos_1:before,
.land_uranos_1:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_uranos_10:before,
.land_uranos_9:before,
.land_uranos_8:before,
.land_uranos_7:before,
.land_uranos_6:before,
.land_uranos_5:before,
.land_uranos_4:before,
.land_uranos_3:before,
.land_uranos_2:before,
.land_uranos_1:before {
  transform: rotateZ(60deg);
}

.land_uranos_10:after,
.land_uranos_9:after,
.land_uranos_8:after,
.land_uranos_7:after,
.land_uranos_6:after,
.land_uranos_5:after,
.land_uranos_4:after,
.land_uranos_3:after,
.land_uranos_2:after,
.land_uranos_1:after {
  transform: rotateZ(-60deg);
}

.land_uranos_10:hover,
.land_uranos_9:hover,
.land_uranos_8:hover,
.land_uranos_7:hover,
.land_uranos_6:hover,
.land_uranos_5:hover,
.land_uranos_4:hover,
.land_uranos_3:hover,
.land_uranos_2:hover,
.land_uranos_1:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {

  .land_uranos_10:hover,
  .land_uranos_9:hover,
  .land_uranos_8:hover,
  .land_uranos_7:hover,
  .land_uranos_6:hover,
  .land_uranos_5:hover,
  .land_uranos_4:hover,
  .land_uranos_3:hover,
  .land_uranos_2:hover,
  .land_uranos_1:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_uranos_10:hover:before,
.land_uranos_9:hover:before,
.land_uranos_8:hover:before,
.land_uranos_7:hover:before,
.land_uranos_6:hover:before,
.land_uranos_5:hover:before,
.land_uranos_4:hover:before,
.land_uranos_3:hover:before,
.land_uranos_2:hover:before,
.land_uranos_1:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos_10:hover:after,
.land_uranos_9:hover:after,
.land_uranos_8:hover:after,
.land_uranos_7:hover:after,
.land_uranos_6:hover:after,
.land_uranos_5:hover:after,
.land_uranos_4:hover:after,
.land_uranos_3:hover:after,
.land_uranos_2:hover:after,
.land_uranos_1:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_uranos_10:hover .land_ownership,
.land_uranos_9:hover .land_ownership,
.land_uranos_8:hover .land_ownership,
.land_uranos_7:hover .land_ownership,
.land_uranos_6:hover .land_ownership,
.land_uranos_5:hover .land_ownership,
.land_uranos_4:hover .land_ownership,
.land_uranos_3:hover .land_ownership,
.land_uranos_2:hover .land_ownership,
.land_uranos_1:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* 
* ──────────────────────────────────────
* THALASSA
* ──────────────────────────────────────
*/

/* ─────────────────── Colors for each grade */

.land_thalassa_10 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFFFF, #CFF2FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_9 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFFFF, #9AE4FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_8 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #CFF2FF, #45CDFF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_7 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #CFF2FF, #14C0FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_6 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #9AE4FF, #28B8FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_5 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #BAE8FF, #19B2FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_4 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #BAE8FF, #198AFF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_3 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #C1DFFF, #2C7AFF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_2 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #C1DFFF, #1642FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_1 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #C1DFFF, #0A14FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_thalassa_10:before,
.land_thalassa_10:after,
.land_thalassa_9:before,
.land_thalassa_9:after,
.land_thalassa_8:before,
.land_thalassa_8:after,
.land_thalassa_7:before,
.land_thalassa_7:after,
.land_thalassa_6:before,
.land_thalassa_6:after,
.land_thalassa_5:before,
.land_thalassa_5:after,
.land_thalassa_4:before,
.land_thalassa_4:after,
.land_thalassa_3:before,
.land_thalassa_3:after,
.land_thalassa_2:before,
.land_thalassa_2:after,
.land_thalassa_1:before,
.land_thalassa_1:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_thalassa_10:before,
.land_thalassa_9:before,
.land_thalassa_8:before,
.land_thalassa_7:before,
.land_thalassa_6:before,
.land_thalassa_5:before,
.land_thalassa_4:before,
.land_thalassa_3:before,
.land_thalassa_2:before,
.land_thalassa_1:before {
  transform: rotateZ(60deg);
}

.land_thalassa_10:after,
.land_thalassa_9:after,
.land_thalassa_8:after,
.land_thalassa_7:after,
.land_thalassa_6:after,
.land_thalassa_5:after,
.land_thalassa_4:after,
.land_thalassa_3:after,
.land_thalassa_2:after,
.land_thalassa_1:after {
  transform: rotateZ(-60deg);
}

.land_thalassa_10:hover,
.land_thalassa_9:hover,
.land_thalassa_8:hover,
.land_thalassa_7:hover,
.land_thalassa_6:hover,
.land_thalassa_5:hover,
.land_thalassa_4:hover,
.land_thalassa_3:hover,
.land_thalassa_2:hover,
.land_thalassa_1:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {

  .land_thalassa_10:hover,
  .land_thalassa_9:hover,
  .land_thalassa_8:hover,
  .land_thalassa_7:hover,
  .land_thalassa_6:hover,
  .land_thalassa_5:hover,
  .land_thalassa_4:hover,
  .land_thalassa_3:hover,
  .land_thalassa_2:hover,
  .land_thalassa_1:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_thalassa_10:hover:before,
.land_thalassa_9:hover:before,
.land_thalassa_8:hover:before,
.land_thalassa_7:hover:before,
.land_thalassa_6:hover:before,
.land_thalassa_5:hover:before,
.land_thalassa_4:hover:before,
.land_thalassa_3:hover:before,
.land_thalassa_2:hover:before,
.land_thalassa_1:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa_10:hover:after,
.land_thalassa_9:hover:after,
.land_thalassa_8:hover:after,
.land_thalassa_7:hover:after,
.land_thalassa_6:hover:after,
.land_thalassa_5:hover:after,
.land_thalassa_4:hover:after,
.land_thalassa_3:hover:after,
.land_thalassa_2:hover:after,
.land_thalassa_1:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_thalassa_10:hover .land_ownership,
.land_thalassa_9:hover .land_ownership,
.land_thalassa_8:hover .land_ownership,
.land_thalassa_7:hover .land_ownership,
.land_thalassa_6:hover .land_ownership,
.land_thalassa_5:hover .land_ownership,
.land_thalassa_4:hover .land_ownership,
.land_thalassa_3:hover .land_ownership,
.land_thalassa_2:hover .land_ownership,
.land_thalassa_1:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/*
* ──────────────────────────────────────
* IEROS
* ──────────────────────────────────────
*/

/* ─────────────────── Colors for each grade */

.land_ieros_10 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFFFF, #E4CFFF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_9 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #FFFFFF, #D3B1FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_8 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #E4CFFF, #BA85FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_7 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #E4CFFF, #A25BFF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_6 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #D6B7FF, #8F39FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_5 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #D6B7FF, #A81DFF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_4 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #D6B7FF, #9D00FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_3 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #E9BAFF, #BB00FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_2 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #E9BAFF, #FB00FF);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_1 {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #E9BAFF, #F800C6);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotateZ(30deg);
}

.land_ieros_10:before,
.land_ieros_10:after,
.land_ieros_9:before,
.land_ieros_9:after,
.land_ieros_8:before,
.land_ieros_8:after,
.land_ieros_7:before,
.land_ieros_7:after,
.land_ieros_6:before,
.land_ieros_6:after,
.land_ieros_5:before,
.land_ieros_5:after,
.land_ieros_4:before,
.land_ieros_4:after,
.land_ieros_3:before,
.land_ieros_3:after,
.land_ieros_2:before,
.land_ieros_2:after,
.land_ieros_1:before,
.land_ieros_1:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.4s;
  transform-origin: center;
}

.land_ieros_10:before,
.land_ieros_9:before,
.land_ieros_8:before,
.land_ieros_7:before,
.land_ieros_6:before,
.land_ieros_5:before,
.land_ieros_4:before,
.land_ieros_3:before,
.land_ieros_2:before,
.land_ieros_1:before {
  transform: rotateZ(60deg);
}

.land_ieros_10:after,
.land_ieros_9:after,
.land_ieros_8:after,
.land_ieros_7:after,
.land_ieros_6:after,
.land_ieros_5:after,
.land_ieros_4:after,
.land_ieros_3:after,
.land_ieros_2:after,
.land_ieros_1:after {
  transform: rotateZ(-60deg);
}

.land_ieros_10:hover,
.land_ieros_9:hover,
.land_ieros_8:hover,
.land_ieros_7:hover,
.land_ieros_6:hover,
.land_ieros_5:hover,
.land_ieros_4:hover,
.land_ieros_3:hover,
.land_ieros_2:hover,
.land_ieros_1:hover {
  border-radius: 50px;
  transition: 0.6s;
  animation-duration: 1s;
  animation-name: hoverLand;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {

  .land_ieros_10:hover,
  .land_ieros_9:hover,
  .land_ieros_8:hover,
  .land_ieros_7:hover,
  .land_ieros_6:hover,
  .land_ieros_5:hover,
  .land_ieros_4:hover,
  .land_ieros_3:hover,
  .land_ieros_2:hover,
  .land_ieros_1:hover {
    border-radius: 50px;
    transition: 0.6s;
    animation-duration: 1.4s;
    animation-name: hoverLand-Mobile;
    animation-iteration-count: infinite;
  }
}

.land_ieros_10:hover:before,
.land_ieros_9:hover:before,
.land_ieros_8:hover:before,
.land_ieros_7:hover:before,
.land_ieros_6:hover:before,
.land_ieros_5:hover:before,
.land_ieros_4:hover:before,
.land_ieros_3:hover:before,
.land_ieros_2:hover:before,
.land_ieros_1:hover:before {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros_10:hover:after,
.land_ieros_9:hover:after,
.land_ieros_8:hover:after,
.land_ieros_7:hover:after,
.land_ieros_6:hover:after,
.land_ieros_5:hover:after,
.land_ieros_4:hover:after,
.land_ieros_3:hover:after,
.land_ieros_2:hover:after,
.land_ieros_1:hover:after {
  border-radius: 50px;
  transition: 0.6s;
}

.land_ieros_10:hover .land_ownership,
.land_ieros_9:hover .land_ownership,
.land_ieros_8:hover .land_ownership,
.land_ieros_7:hover .land_ownership,
.land_ieros_6:hover .land_ownership,
.land_ieros_5:hover .land_ownership,
.land_ieros_4:hover .land_ownership,
.land_ieros_3:hover .land_ownership,
.land_ieros_2:hover .land_ownership,
.land_ieros_1:hover .land_ownership {
  display: initial;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}